body{
    background-color:blue ;
    margin: 60px;
    
}
h1{
    color: bisque;
}
main{
    margin: 5%;
 background-color: brown;
 min-height: 50vh;
 font-weight: bold;
}
nav{
    text-align: center;
    margin: 30px;
    padding: 30px;
    font-weight: bold;
}
a{
    color: forestgreen;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-decoration: none;
    padding: 16px;
}

a:hover{
    color: black;
    transition: 0.4;
}

h1{
    text-align: center;
    color: rgb(80, 219, 219);
    padding: 20px;
}
p{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(235, 213, 181);
    padding: 19px;
}
ul{
    text-align: center;
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(154, 147, 147);
}

footer{
    text-align: center;
    color: aliceblue;
    padding: 80px;
}